### Selection and Indexing the Dataframes

In [1]:
# For practice purpose let us make a dataframe from vectors
# Making a data frame from scratch
Days <- c("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
Temps <- c(32,34,33.5,31,33,33.8,35)
Rain <- c(T,T,F,F,T,F,T)
df1<- data.frame(Days,Temps,Rain)
df1

  Days Temps Rain
1 Mon  32.0   TRUE
2 Tue  34.0   TRUE
3 Wed  33.5  FALSE
4 Thu  31.0  FALSE
5 Fri  33.0   TRUE
6 Sat  33.8  FALSE
7 Sun  35.0   TRUE

In [2]:
# Grabbing a column from df
df1['Days'] #With bracket notation. Notice this returns a df object

  Days
1 Mon
2 Tue
3 Wed
4 Thu
5 Fri
6 Sat
7 Sun

In [3]:
df1$Days # with $ notation, notice, this returns a vector object

[1] Mon Tue Wed Thu Fri Sat Sun
Levels: Fri Mon Sat Sun Thu Tue Wed

In [4]:
df1[,1] # This is conventional df[row_start:row_end,col_start:col_end]

[1] Mon Tue Wed Thu Fri Sat Sun
Levels: Fri Mon Sat Sun Thu Tue Wed

#### Subset for filtering the data

In [5]:
# syntax subset (df, subset = (logical condition))
subset(df1, subset= (Rain == TRUE))

  Days Temps Rain
1 Mon  32    TRUE
2 Tue  34    TRUE
5 Fri  33    TRUE
7 Sun  35    TRUE

#### Order function

In [6]:
sorted.temp <- order(df1['Temps'])

In [7]:
sorted.temp

[1] 4 1 5 3 6 2 7

In [8]:
df1[sorted.temp,] # using this as rows index we can get a sorted low to high

  Days Temps Rain
4 Thu  31.0  FALSE
1 Mon  32.0   TRUE
5 Fri  33.0   TRUE
3 Wed  33.5  FALSE
6 Sat  33.8  FALSE
2 Tue  34.0   TRUE
7 Sun  35.0   TRUE

#### 4 Ways of getting a column data into a vector

In [9]:
# Let us use builtin data for this
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [10]:
# Using $ notation
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [11]:
# Index notation for column 1
mtcars[,1]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [13]:
# Index notation with column name
mtcars[,'mpg']

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [14]:
# double bracket notation 
mtcars[['mpg']]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

### 2 ways of accessing the column data as a dataframe

In [15]:
mtcars['mpg']

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [16]:
mtcars[1]

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [20]:
head(mtcars[c('mpg','cyl')]) # getting multiple columns as a dataframe

                  mpg  cyl
Mazda RX4         21.0 6
Mazda RX4 Wag     21.0 6
Datsun 710        22.8 4
Hornet 4 Drive    21.4 6
Hornet Sportabout 18.7 8
Valiant           18.1 6

### Adding new rows to a dataframe

In [31]:
#let us work on a newly created dataframe
# Creating a dataframe from vectors
AGE <- c(21,23,28,27,30)
NAME <- c('Raj',"Rani","Laila",'John',"Julia")
GENDER <- c('Male','Female','Female','Male','Female')
studentdf <- data.frame(NAME,AGE,GENDER)
studentdf

  NAME  AGE GENDER
1 Raj   21  Male
2 Rani  23  Female
3 Laila 28  Female
4 John  27  Male
5 Julia 30  Female

In [32]:
df_new <- data.frame(NAME = 'Latha', AGE = 31, GENDER = 'Female')

In [33]:
df_new

  NAME  AGE GENDER
1 Latha 31  Female

In [34]:
studentdf <- rbind(studentdf,df_new) # Using R bind add the rows together

In [35]:
studentdf

  NAME  AGE GENDER
1 Raj   21  Male
2 Rani  23  Female
3 Laila 28  Female
4 John  27  Male
5 Julia 30  Female
6 Latha 31  Female

#### Aggregrate operations

In [1]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [4]:
aggregate(x = mtcars$mpg, by = list(cylinders = mtcars$cyl), FUN = mean)
# x = column on which the aggregation to be performed
# FUN = function to be performed on the x
# by = list(variable for which the grouping is needed)

  cylinders x
1 4         26.66364
2 6         19.74286
3 8         15.10000