<center>
     <h1> Data Manipulation with dplyr  on  mtcars data set</h1>
</center>

In [2]:
# load the library
library(dplyr) # Ignore the warning messaes below as this just indicates that the dplyr function are over taking the base functions

In [3]:
# get metcars data into data frame
df <- mtcars

###  pipe operator    %>%

This allows us to avoid writing multiple variable and saves memory. 
activities in tandem can be piped with this.

### Selecting few columns from the data set

### select()

In [4]:
head(select(df, mpg, hp, gear),3)

              mpg  hp  gear
Mazda RX4     21.0 110 4
Mazda RX4 Wag 21.0 110 4
Datsun 710    22.8  93 4

####  Removing some columns with  Select ()

In [7]:
head(df %>% select(-c(mpg, wt)))

                  cyl disp hp  drat qsec  vs am gear carb
Mazda RX4         6   160  110 3.90 16.46 0  1  4    4
Mazda RX4 Wag     6   160  110 3.90 17.02 0  1  4    4
Datsun 710        4   108   93 3.85 18.61 1  1  4    1
Hornet 4 Drive    6   258  110 3.08 19.44 1  0  3    1
Hornet Sportabout 8   360  175 3.15 17.02 0  0  3    2
Valiant           6   225  105 2.76 20.22 1  0  3    1

### Filtering the data set on conditions

### filter()

In [81]:
# From the above selected columns let us filter the data where gears are more than 3
# observe here we are using the pipe operator
head(select(df, mpg, hp, gear) %>% filter(gear>3))

  mpg  hp  gear
1 21.0 110 4
2 21.0 110 4
3 22.8  93 4
4 24.4  62 4
5 22.8  95 4
6 19.2 123 4

In [82]:
# Another example 
# get a subset of data where gears > 3 with 
# note I am using head function to litmit the space of  cell
head(df %>% filter(gear >3))

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
5 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
6 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

#### rename()

In [83]:
# rename() allows us to rename the column names 
# example if we want to rename the column mpg to milage and hp to power
# notice the new col names are to give in the beginning 
# the result is a dataframe unless it is re assigned to df, the df original col names remain same
head(df %>% rename(milage = mpg, power = hp))

                  milage cyl disp power drat wt    qsec  vs am gear carb
Mazda RX4         21.0   6   160  110   3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0   6   160  110   3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8   4   108   93   3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4   6   258  110   3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7   8   360  175   3.15 3.440 17.02 0  0  3    2
Valiant           18.1   6   225  105   2.76 3.460 20.22 1  0  3    1

#### arrange()

In [84]:
# arrange allows to order the data ascending or descending order
head(df %>% arrange(mpg, desc(disp))) # here desc(disp) means descending order of disp

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
2 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
3 13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
4 14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
5 14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
6 15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

In [85]:
head(df %>% arrange(mpg, cyl))

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
2 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
3 13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
4 14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
5 14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
6 15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

#### distinct()

In [86]:
df %>% distinct(cyl) # distinct values of cylinder

  cyl
1 6
2 4
3 8

#### mutate()

In [87]:
# we can add a new column that is result of a function on the exisiting columns wiht mutate
# suppose we want to add a column  galons for 1000 miles i.e 1000/mpg

In [90]:
head(df %>% mutate(Galons = round(1000/mpg)) %>% arrange(desc(Galons)) , 10) # Galons new column added , arranged in descending order

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb Galons
1  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    96
2  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    96
3  13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    75
4  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    70
5  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    68
6  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    67
7  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    66
8  15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    66
9  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    65
10 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    63

#### trnsmute()

In [91]:
# this is similar to mutate adds a new columns with changes but the result is just changed column
# compare the same code with mutate to see the difference
head(df %>% transmute(Galons = round(1000/mpg)) %>% arrange(desc(Galons)) , 10)

   Galons
1  96
2  96
3  75
4  70
5  68
6  67
7  66
8  66
9  65
10 63

#### summarise()

In [102]:
# suppose we want to have a mean disp as a single result and total mpg as a single value
df %>% summarise(disp = mean(disp, na.rm = TRUE), mpg = sum(mpg))

  disp     mpg
1 230.7219 642.9

In [103]:
mean(df$disp, na.rm = TRUE) # this is same first part

[1] 230.7219

In [104]:
sum(df$mpg) # this same as the second part of the summarise

[1] 642.9

In [105]:
df %>% group_by(cyl) %>% summarise(avg = mean(mpg)) # we are using group by cylinder and the average of each category

  cyl avg
1 4   26.66364
2 6   19.74286
3 8   15.10000

In [8]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [9]:
df %>% select(carb) %>% unique

                  carb
Mazda RX4         4
Datsun 710        1
Hornet Sportabout 2
Merc 450SE        3
Ferrari Dino      6
Maserati Bora     8

#### value counts of a column parameter

In [45]:
x <- c('sree','sree','sree','Radha','Radha','Ramana','Ramana','Ramana','Radha','sree')
as.data.frame(table(x)) %>% transmute('Variable' = x, 'Count' = Freq) %>% arrange(desc(Count))

  Variable Count
1 sree     4
2 Radha    3
3 Ramana   3