### R- Regular Sequences 
#### Generating Regular Sequences of Numbers
For regularly spaced sequences, often involving integers, it is simplest to use the colon operator. <br>
This can produce ascending or descending sequences:

In [7]:
10:30 # Ascending sequence

 [1] 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [8]:
18:11 # descending sequence

[1] 18 17 16 15 14 13 12 11

In [9]:
1:10 -> vec1

In [10]:
vec1

 [1]  1  2  3  4  5  6  7  8  9 10

When the interval is not 1.0 you need to use the **seq** function.<br>
In general, the three arguments to seq are: initial value, final value, and increment (or decrement for a declining sequence).<br>
Here we want to go from 0 up to 1.5 in steps of 0.2:<br>

In [13]:
#seq(from, to)
seq(1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [15]:
#seq(from, to, by= )
seq(from = 0.1,to = 0.8,by=0.2)

[1] 0.1 0.3 0.5 0.7

In [16]:
#seq(from, to, length.out= )
seq(from =0.1 , to =0.5 , length.out = 11) # from to values are equally spaced such a way the length would be 11

 [1] 0.10 0.14 0.18 0.22 0.26 0.30 0.34 0.38 0.42 0.46 0.50

In [19]:
mat <- matrix(1:9, nrow = 3, ncol = 3)

In [20]:
mat

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9